h1{color:lightpink;}
h2{color:lightpink}
body{background-color:whitesmoke;}
p{color:black}
p{font-size: 16 }
p1{color:lightpink; font-size: 22}
p2{color:lightpink; font-size: 22}
p3{color:lightpink; font-size: 22}
img{box-sizing: 5 }